[project]
name = "amiibox"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.119.0",
    "sqlmodel>=0.0.27",
    "uvicorn>=0.34.0",
]
